.admin_dashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

table, 
td {
  border-bottom: 1px solid #333;
  background-color: #9bc7b1;
}
tr {
  border-bottom: none;
  gap: 2rem;
}
.admin_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

#switch {
  margin: 10px;
}
.admin_switch {
  border: none;
  padding: 10px;
  width: 150px;
  height: 50px;
  font-size: 20px;
}

#b_employees {
  background: #85bda1;
}
#b_employees:hover {
  border: 2px solid #8785bd;
}
#b_products {
  background: #f2e37d;
}

#b_products:hover {
  border: 2px solid #8785bd;
}
@media (min-width: 1180px) {
  #switch {
    margin-top: 45px;
    position: relative;
  }
  
}
