.admin_dashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

table,
td {
  border-bottom: 1px solid #333;
  background-color: #9bc7b1;
}
tr {
  border-bottom: none;
  gap: 2rem;
}

