#date {
  display: flex;
  justify-content: flex-start;
  margin-top: 48px;
  margin-left: -68px;
}
#date_local{
    display: flex;
    justify-content: flex-start;
}
@media (min-width: 1180px) {
  #date {
    display: flex;
    justify-content: flex-start;
    margin-top: 48px;
    margin-left: -174px;
    position: absolute;
  }
}