#container_header {
  display: flex;
  justify-content: center;
  margin-top: 2%;
}
#logo_burger_queen {
  width: 50%;
  height: 20%;
  margin-top: 2%;
}
@media (min-width: 1180px) {
  #logo_burger_queen {
    width: 30%;
    height: 20%;
    margin-top: 2%;
  }
}