#button_new_client {
  display: inline-block;
  width: 300px;
  height: 70px;
  border-radius: 12px;
  background-color: #E74E6D;
  color: #E6E9D9;
  font-size: 35px;
  text-decoration: none;
  border: 3px solid #e42047;
}
#button_new_client:hover{
  animation: pulsate 2s
  ease-in-out;
}
@keyframes pulsate {
  0%{
    box-shadow:
    0 0 25px #f2798f,
    0 0 50px #e8c0c7;
  }
}