body {
  margin: 0;
  font-family: "Comfortaa", "Roboto", "Segoe UI", "Quicksand" "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  background-color: #9bc7b1;
  background-image: url(../public/Background.svg);
  background-size: cover;
  background-repeat: no-repeat;
}
@media (min-width: 1180px) {
  body {
    margin: 0;
    font-family: "Comfortaa", "Roboto", "Segoe UI", "Quicksand" "Ubuntu",
      "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    background-color: #9bc7b1;
    background-image: url(../public/background_1180.svg);
    background-size: cover;
    background-repeat: no-repeat;
  }
}