.container_pending {
  overflow: auto;
  word-wrap: break-word;
  width: auto;
  height: 500px;
}
.pending_article {
  display: flex;
  flex-direction: column;
  margin: 0px 40px 0 35px;
}

.print_orders {
  background-color: #f2e37d;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 10px;
  width: auto;
  height: auto;
}
.container_pending_orders {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 40px;
}
.print_orders_p {
  margin: 0 10px 8px 10px;
  font-size: 20px;
}
