.new_order {
  /* display: flex;
  align-items: center;
  flex-direction: column; */
}
#date_user {
  display: flex;
  justify-content: space-around;
}
.customer {
  display: flex;
  flex-direction: column;
  margin-left: 90px;
}
#customer {
  font-size: 25px;
}
#input_customer {
  border: none;
  border-bottom: 1px solid #596061;
  background: none;
  width: 250px;
  font-size: 25px;
}
#buttons_switch {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}
.waiter_switch {
  font-size: 28px;
  border: none;
  border-radius: 5px;
  padding: 10px;
  width: 150px;
  height: 50px;
}
#b_employees {
  background: #85bda1;
}
#b_employees:hover {
  border: 2px solid #8785bd;
}
#b_products {
  background: #f2e37d;
}

#b_products:hover {
  border: 2px solid #8785bd;
}
#button_order {
  display: flex;
  align-items: center;
  justify-content: center;

}
#button_confirm_order {
  width: 280px;
  height: 65px;
  border-radius: 12px;
  background-color: #e74e6d;
  color: #e6e9d9;
  font-size: 35px;
  text-decoration: none;
  border: 3px solid #e42047;
  margin-top: 2rem;
}
